*{
    margin:0 auto;
}

.container{
    margin-top:3%;
}
.header-logo-img{
    width:50%;
}

.header-row{
    border:1px #AE924F solid;
    box-shadow: 3px 3px 10px #AE924F;
    padding:1%;
}

a{
    text-decoration: none;
    color: #AE924F;
}