<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename=('/css/style.css')) }}">
    <title>Dashboard</title>

</head>

<body>
    <div class="container">
        <div class="row header-row">
            <div class="col-6"><img src="./static/imgs/LaDonna_Header.png" alt="La Donna Logo" class="header-logo-img">
            </div>
            <div class="col-4"></div>
            <div class="col-2">Employees Only</div>
        </div>
        <div id="header"></div>

        <div class="main-body-row row">
            <div class="row">Welcome {{session.first_name}} </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <a href="/orders">
                    <div class="card">
                        <img src="../static/imgs/order_form.jpg" class="card-img-top" alt="stock order form">
                        <div class="card-body">
                            <h5 class="card-title">Orders</h5>
                            <p class="card-text">Start a new order or review all the orders saved. This includes orders of all activity status. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/brides">
                    <div class="card">
                        <img src="../static/imgs/bride.jpg" class="card-img-top" alt="stock bride image" style="width:70%">
                        <div class="card-body">
                            <h5 class="card-title">Brides</h5>
                            <p class="card-text">Add a new bride to the client list or review who is already included. Contact information and status is available.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/dresses">
                    <div class="card">
                        <img src="../static/imgs/LaViola.jpg" class="card-img-top" alt="stock dress image">
                        <div class="card-body">
                            <h5 class="card-title">Dresses</h5>
                            <p class="card-text">ok,i'm getting tired. pretty much same as the other two. add, edit or delete dress info. </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/task_list">
                    <div class="card">
                        <img src="../static/imgs/to_do_list.png" class="card-img-top" alt="stock to do image">
                        <div class="card-body">
                            <h5 class="card-title">To Do</h5>
                            <p class="card-text">so, here you can check the list set for yourself. add, edit or cross off. :-)</p>
                        </div>
                    </div>
                </a>
            </div>
                <div class="col">
                    <a href="/employees">
                        <div class="card">
                            <img src="../static/imgs/employees.jpg" class="card-img-top" alt="stock employees logo">
                            <div class="card-body">
                                <h5 class="card-title">Employees</h5>
                                <p class="card-text">This allows you to add or edit employees from the database. no deletion, but we can mark them as inactive if they are no longer with the company. </p>
                            </div>
                        </div>
                </a>
                    
    
            </div>
        </div>
    </div>

</body>

</html>