<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Employee Registration</title>
</head>
<body>
    <div class="container" style="border:2px solid black">
        <div class="header-row">
            <div class ="col-6"><img src="./static/imgs/LaDonna_Header.png" alt="La Donna Logo" style="width:50%"></div>
            <div class="col-4"></div>
            <div class="col-2">Employees Only</div>
        </div>
            <!-- End Header Row -->
        <div class="main-body">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="col-6">
                    Employee Registration
                    <form action="">
                        <div class="form-input">
                            <label>First Name</label>
                            <input type="text" name="first_name">
                        </div>
                        <div class="form-input">
                            <label>Last Name</label>
                            <input type="text" name="last_name">
                        </div>
                        <div class="form-input">
                            <label>E-mail address</label>
                            <input type="text" name="email">
                        </div>
                        <div class="form-input">
                            <label>Title</label>
                            <input type="text" name="Title">
                        </div>
                        <div class="form-input">
                            <label>Permissions {should be a drop down list}</label>
                            <input type="text" name="first_name">
                        </div>
                        <div class="form-input">
                            <label>Hire Date</label>
                            <input type="date" name="first_name">
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>





    </div>
</body>
</html>