<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename=('/css/style.css')) }}">

    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <div class="row header-row">
            <div class ="col-6"><img src="./static/imgs/LaDonna_Header.png" alt="La Donna Logo" class="header-logo-img"></div>
            <div class="col-4"></div>
            <div class="col-2">Employees Only</div>
        </div>
        <div class="row navigation-row">
            <div class="col-10"></div>
            <div class="col-2">
                <a href="/">Home</a>
            </div>
        </div>

        <div class="main-body-row row">
            <!-- ----COLUMN 1; LOGIN FORM ---- -->
            <div class="col-6">
                <h2>Please create a new password below. </h2>
                <form action="/forgot_login" method="POST">
                    <div>
                        {% with messages = get_flashed_messages(category_filter=["update_pw"]) %}
                            {%if messages %}
                                {% for message in messages %}
                                <p>{{ message | safe }}</p>
                        {%endfor%}{%endif%}{%endwith%}
                    </div>
                    <div class="input-section">
                        <label>Please enter your E-mail:</label>
                        <input type="text" name="email">
                    </div>
                    

                    <div class="input-section">
                        <input type="submit" value = "Login">
                    </div>
                    <div class="input-section">
                    </div>
                </form>
            </div>
            <!-- --- COLUMN 1, LOGIN FORM, END; ----- -->
        </div>
    </div>
</body>
</html>