<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename=('/css/style.css')) }}">

    <title>Add New Order</title>
</head>
<body>
    <div class="container">
        <div class="row header-row">
            <div class ="col-6"><img src="./static/imgs/LaDonna_Header.png" alt="La Donna Logo" class="header-logo-img"></div>
            <div class="col-4"></div>
            <div class="col-2">Employees Only</div>
        </div>
        <div class="row navigation-row">
            <div class="col-10"></div>
            <div class="col-2">
                <a href="/dashboard">Home</a>
            </div>
        </div>
        <div class="row main-body-row">
            <form action="/order_add" method="POST">
                <div class="form-input">
                    <label>Bride:</label>
                    <input type="text" name="bride_id">
                </div>
                <div class="form-input">
                    <label>Dress:</label>
                    <input type="text" name="dress_id">
                </div>
                <div class="form-input">
                    <label>Order Notes:</label>
                    <textarea name="notes" id="to_do_notes" rows="6" cols="80"></textarea>
                </div>

                <input type="submit" value="Add">
            </form>
        </div>
    </div>
</body>
</html>